.browse {
  background-color: #141414 !important;
  min-height: 100vh;
  color: white;
  min-width: 280px;
  padding-bottom: 200px;
}

.account {
  .logout {
    color: white;
    cursor: pointer;
    margin-bottom: 16px;
  }
}

.expand {
  transition: all 1s;
  transform: scale(1.3);
  z-index: 1000;
  transform: translateY(-20%);
  object-fit: contain;
}
.reduce {
  transition: all 1s;
  transform: scale(1);
}

.row {
  display: flex;
  flex-direction: row;
  width: 100vw !important;
  scroll-behavior: smooth;
  position: relative;
  overflow: hidden;
  height: 350px;
  padding: 100px 0;
  width: 100vw;
}

.wrapper {
  padding: 0 48px;
}
.card-wrapper {
  position: relative;
  margin: 8px;
}

.media-card {
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  img {
    max-height: 158px;
    width: 280px;
    object-fit: cover;
  }
}
.content {
  max-width: 100%;
  margin-top: -5px;
  padding: 16px;
  background-color: #141414 !important;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.media-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #aaa;
  i {
    cursor: pointer;
  }
}
.match {
  color: lightgreen;
  margin-right: 4px;
}
.age {
  border: 1px solid white;
  padding: 0 4px;
}
.player {
  position: relative;
}
.sound {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.volume {
  font-size: 18px;
  color: rgb(212, 212, 212);
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 38px;
}

.fa-chevron-right,
.fa-chevron-left {
  cursor: pointer;
  opacity: 0.1;
  transition: all 1s;
  &:hover {
    opacity: 0.5;
  }
}
.left,
.right {
  position: relative;
  width: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  left: -70px;
}
.right {
  right: -70px;
}

.holder {
  display: flex;
}
.app-nav {
  position: sticky;
  margin-bottom: -250px;
}
.card-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin-top: -90px;
  margin-bottom: 50px;
}

.App-hero {
  border: 1px solid white;
}

.hero-buttons {
  position: absolute;
  height: 50vh;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  .left-side,
  .right-side {
    display: flex;
    flex: 1;
  }
  .right-side {
    display: flex;
    justify-content: flex-end;
  }
}
.play,
.info {
  cursor: pointer;
  background-color: white;
  min-width: fit-content;
  color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 16px;
  i {
    margin-right: 8px;
  }
}
.mute {
  background-color: khaki !important;
  .volume {
    color: rebeccapurple !important;
  }
}
.info {
  background-color: #333 !important;
  color: white !important;
}
.line {
  max-width: 248px;
  margin-bottom: 8px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 48px;
  text-align: right;
}
.search-bar {
  min-width: fit-content;
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 2s;
  input {
    border: none;
    color: whitesmoke;
    background-color: transparent;
    padding: 8px 24px;
  }
}

.reduce-search {
  width: 0px;
}
.expand-search {
  width: 100%;
}

.account {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  top: 8px;

  .image-holder {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    img {
      width: 32px;
      margin-right: 4px;
    }
    .fa-caret-down {
      transition: all 0.5s;
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}
.account-dropdown {
  padding: 16px;
  background-color: black;
  border: 1px solid gray;
  position: absolute;
  top: 32px;
}

.onEnterHover {
  transition: all 0.5s;
  transform: rotate(180deg);
}
.overlay-style {
  max-height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-style {
  min-height: 100vh;
  min-width: 322px;
  max-width: 800px;
  max-height: 100%;
}

.details {
  overflow: hidden;
  color: white;
  border-radius: 15px;

  z-index: 1;
  margin: 32px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #141414;
}
.card-content {
  z-index: 100;
  padding: 16px;
  h1 {
    font-size: 48px;
    margin-top: -20px;
    margin-left: 24px;
    margin-bottom: 120px;
    text-shadow: 2px 2px 5px $netflix-red;
  }
}

.about {
  display: flex;
  .about-left {
    padding: 16px;
    font-size: 16px;
    flex: 2;
    .left-line {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      div {
        margin-right: 8px;
      }
      .about-age {
        border: 1px solid white;
        height: fit-content;
        padding: 0 4px;
      }
      .hd {
        font-size: 12px;
        border: 1px solid white;
      }
    }
  }
  .about-right {
    padding: 16px;
    flex: 1;
    font-size: 14px;
    .cast,
    .genres,
    .is {
      margin-bottom: 16px;
      color: gray;
      span {
        color: white;
      }
    }
  }
}

.fullScreen-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  width: 100vh;
  height: 100%;

  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  min-height: 60vh;
  min-width: 60vw;
  max-height: 100%;
}

.fa-times-circle {
  text-align: right;
  width: 100%;
  font-size: 32px;

  color: rgb(155, 155, 155);
  transform: translateY(100%);
  cursor: pointer;
}
