@mixin flex-horizontal-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-horizontal {
  display: flex;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
