@media only screen and (min-width: $widescreen-min) {
  .logo {
    width: 10.4375rem;
    height: 2.8125rem;
  }
}

.our-story-card-title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.our-story-card-subtitle,
.our-story-card-text {
  font-size: 1.625rem !important;
  font-weight: 400;
}
